<!-- <div class="d-flex justify-content-center">
<div class="card " style="width: 18rem; ">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    <p class="card-text">Ingrese sus datos</p>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
</div> -->

<p-toast />

<div class="mb-4 p-8 flex justify-center">
    <p-card header="Formulario de Acceso" subheader="Por favor introduce tus datos" styleClass="w-full sm:w-96">
        
        <form [formGroup]="exampleForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full">
            
            <div class="flex flex-col gap-1">
                <input pInputText type="text" id="username" placeholder="Username" formControlName="username" [invalid]="isInvalid('username')" />
                @if (isInvalid('username')) {
                    <p-message severity="error" size="small" variant="simple">Username is required.</p-message>
                }
            </div>

            <div class="flex flex-col gap-1">
                <input pInputText type="email" id="email" placeholder="Email" formControlName="email" [invalid]="isInvalid('email')" />
                @if (isInvalid('email')) {
                    @if (exampleForm.get('email')?.errors?.['required']) {
                        <p-message severity="error" size="small" variant="simple">Email is required.</p-message>
                    }
                    @if (exampleForm.get('email')?.errors?.['email']) {
                        <p-message severity="error" size="small" variant="simple">Please enter a valid email.</p-message>
                    }
                }
            </div>

            <button pButton severity="secondary" type="submit" class="w-full">
                <span pButtonLabel>Submit</span>
            </button>
            
        </form>

    </p-card>
</div>