<p-toast />
<div class="main-container">
  <div class="titulo-container">
    <p class="titulo-principal mb-5">
      DAW - GESTOR DE PROYECTOS
    </p>
  </div>
    <p-card styleClass="tarjeta mb-2">
        
        <ng-template #title>
          <div class="texto-login text-center w-full font-bold text-black pt-4 mt-1 ">
            Iniciar Sesión
        </div>
        </ng-template>

        <div class="formulario flex flex-col items-center w-full px-6 pb-4">
            <form #loginForm="ngForm"
                (ngSubmit)="onSubmit(loginForm)"
                class="flex flex-col gap-4 w-full items-center">
                
                <div class="flex flex-col gap-1 mt-2 w-full">
                  <p class="form-text">Nombre de Usuario</p>
                    <input
                        pInputText
                        type="text"
                        id="username"
                        name="username"
                        placeholder="Ingrese su username"
                        [(ngModel)]="user.username"
                        required
                        #username="ngModel"
                        [invalid]="isInvalid(username)" />

                    @if (isInvalid(username)) {
                        <p-message severity="error" size="small" variant="simple">El nombre de usuario es requerido</p-message>
                    }
                </div>

                <div class="flex flex-col gap-1 mt-2 w-full">
                   <p class="form-text">Contraseña</p>
                    <input
                        pInputText
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Ingrese su contraseña"
                        [(ngModel)]="user.password"
                        required
                        #password="ngModel"
                        [invalid]="isInvalid(password)" />

                    @if (isInvalid(password)) {
                        <p-message severity="error" size="small" variant="simple">La contraseña es requerida</p-message>
                    }
                </div>

                <div class="boton-contenedor">
                  <p-button 
                      label="Ingresar"
                      type="submit"
                      styleClass="boton mt-4
                      ">
                  </p-button>
              </div>

            </form>
        </div>
    </p-card>

</div>