<div class="modal-form">
  <button type="button" class="close-button" (click)="cerrar()">
    <i class="pi pi-times"></i>
  </button>

  <div class="field">
    <label for="titulo">TÍTULO DE LA TAREA</label>
    <input 
      id="titulo"
      type="text" 
      pInputText 
      [(ngModel)]="tarea.titulo" 
      placeholder="Ej: Diseñar el login" 
      class="custom-input" 
    />
  </div>

  <div class="field">
    <label for="proyecto">PROYECTO ASIGNADO</label>
    <p-select 
      id="proyecto"
      [options]="proyectosDisponibles" 
      [(ngModel)]="tarea.proyectoId" 
      optionLabel="nombre" 
      optionValue="id"
      placeholder="Seleccione un proyecto" 
      styleClass="custom-select"
      appendTo="body">
    </p-select>
  </div>

  <div class="footer-actions">
    <p-button label="GUARDAR" styleClass="btn-guardar" (onClick)="guardar()"></p-button>
  </div>
</div>