
<div class="layout-wrapper">
  <aside class="sidebar-hover">
    <ul class="menu-list">
        <li class="menu-item active">
            <i class="pi pi-folder-plus"></i>
            <span class="menu-text">Nuevo proyecto</span>
        </li>
        
        <li class="menu-item">
            <i class="pi pi-folder"></i>
            <span class="menu-text">Proyectos</span>
        </li>
        
        <li class="menu-item">
            <i class="pi pi-check-square"></i>
            <span class="menu-text">Tareas</span>
        </li>
        
        <li class="menu-item">
            <i class="pi pi-briefcase"></i> <span class="menu-text">Clientes</span>
        </li>
        
        <li class="menu-item">
            <i class="pi pi-users"></i>
            <span class="menu-text">Usuarios</span>
        </li>
    </ul>

    <div class="menu-bottom">
      <li class="menu-item">
        <i class="pi pi-cog"></i>
        <span class="menu-text">Opciones</span>
      </li>
    </div>
  </aside>

</div>