<div class="modal-container">
    <h2 class="modal-title">Nuevo Proyecto</h2>

    <div class="field">
        <label class="field-label">Nombre de PROYECTO</label>
        <input type="text" pInputText [(ngModel)]="proyecto.nombre" 
               placeholder="Ingrese nombre del proyecto" class="w-full custom-input" />
    </div>

    <div class="field" style="margin-top: 1.5rem;">
        <label class="field-label">CLIENTE ASIGNADO</label>
        <input type="text" pInputText [(ngModel)]="proyecto.cliente" 
               placeholder="Nombre de cliente" class="w-full custom-input" />
    </div>

    <p-button label="GUARDAR" styleClass="btn-guardar-premium" (onClick)="guardar()"></p-button>
</div>